<div class="container-fluid footer">
  <hr>
  <div class="row">

   <div class="col-lg-10">
    <a  routerLink="" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a  routerLink="courses" routerLinkActive="active-link">Our Courses!</a>
    <a  routerLink="about" routerLinkActive="active-link">About Us</a>
    <a href="https://www.facebook.com" target="_blank">Facebook</a>
    <a href="https://www.twitter.com" target="_blank">Twitter</a>
   </div>


   <div class="col-lg-2">

    <p>All Rights Reseved © Courses.com</p>
   </div>

  </div>
</div>



