<div class="about">
  <h5>Since 1995, CLS Learning solutions is leading the technology learning market in Egypt, the Middle East, and Africa. With our wide network of international partners, trainers, instructors, and technology leaders; we are able to deliver top notch training programs to our students and technology professionals.
    25 Years in the market.</h5>
    <br>
    <h4>Our Mission</h4>
    <p>Deliver top-notch education and support our clients, individuals and corporate, with professional training solutions.</p>
    <h4>Our Vision</h4>
    <p>Lead the MENA Region professional training market with authorized and certified training.</p>
    <h4>Our partners</h4>
      <img src="../../assets/img/11.jpg">
      <img src="../../assets/img/12.jpg">
      <img src="../../assets/img/13.jpg">
      <img src="../../assets/img/14.jpg">
      <img src="../../assets/img/15.jpg">
</div>
