<div class="container">
    <div class="row">
      <div class="col-md-3">
  <div class="counter">
      <span data-count="25" style="color: #9b4228;">25+</span>
      <h4>Years of Training Experience</h4>
  </div>
</div>
<div class="col-md-3">
  <div class="counter">
      <span data-count="100000" style="color: #9b4228;">100000+</span>
      <h4>Trainees</h4>
  </div>
</div>
<div class="col-md-3">
  <div class="counter">
      <span data-count="18240" style="color: #9b4228;">18240+</span>
      <h4>Corporate Employees</h4>
  </div>
</div>
<div class="col-md-3">
  <div class="counter">
      <span data-count="6400" style="color: #9b4228;">6400+</span>
      <h4>Courses Delivered</h4>
  </div>
  </div>
</div>

</div>


<div class="main">
  <a   routerLink="courses"> <h1>Take a look at our courses!</h1> </a>
  <div class="container">
    <div class="row mt-4">
      <img class="col-3" src="../../assets/img/5.jpg">
      <img class="col-3" src="../../assets/img/6.jpg">
      <img class="col-3" src="../../assets/img/7.jpg">
      <img class="col-3" src="../../assets/img/9.jpg">
    </div>
  </div>
</div>
